<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BoemTest -->
      <package
            uri="http://fr.ibp.odv/BoemTest"
            class="fr.ibp.odv.boem.mm.test.BoemTest.BoemTestPackage"
            genModel="model/BoemTest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DummyWorld -->
      <package
            uri="https://github.com/mypsycho/modit/tests/dummy-world/1.0"
            class="org.mypsycho.emf.modit.dw.dummyworld.DwPackage"
            genModel="model/DummyWorld.genmodel"/>
   </extension>

</plugin>
