<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.mypsycho.emf.modit.sirius.componentization"><!-- CompanyDiagram  DummyWorldDesign -->
      <siriusGroup class="org.mypsycho.emf.modit.dw.dummyworld.design.DummyWorldDesign"/>
   </extension>

</plugin>
