<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated DummyWorld -->
      <factory
            uri="https://github.com/mypsycho/modit/tests/dummy-world/1.0"
            class="org.mypsycho.emf.modit.dw.dummyworld.provider.DwItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemColorProvider"/>
   </extension>


 <!-- 
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <!- - @generated-not DummyWorld - -/>
      <factory
            uri="https://github.com/mypsycho/modit/tests/dummy-world/1.0"
            class="org.mypsycho.emf.modit.dw.dummyworld.provider.DwIpAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
 -->
</plugin>
