<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ulayout -->
      <package
            uri="org.mypsycho.sirius.diagram.ulayout"
            class="org.mypsycho.sirius.diagram.ulayout.UlayoutPackage"
            genModel="model/ulayout.xcore"/>
   </extension>

</plugin>
