<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Mod-it build" sequenceNumber="1586371246">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.19.0.v20190822-1451"/>
      <unit id="org.eclipse.xtext.xbase.feature.group" version="2.19.0.v20190902-1322"/>
      <unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.11.0.v20190822-1451"/>
      <unit id="org.eclipse.emf.ecore.xcore.lib" version="1.4.0.v20190401-0856"/>
      <unit id="org.eclipse.uml2.uml" version="5.5.0.v20181203-1331"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.eclipse.emf.feature.group" version="2.19.0.v20190824-1315"/>
      <unit id="org.eclipse.xtext.redist.feature.group" version="2.19.0.v20190902-1322"/>
      <unit id="org.eclipse.platform.feature.group" version="4.13.0.v20190916-1323"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="6.2.3.201908120659"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="6.2.3.201908120659"/>
      <unit id="org.eclipse.sirius.specifier.feature.group" version="6.2.3.201908120659"/>
      <unit id="org.eclipse.eef.sdk.feature.feature.group" version="2.1.2.201903071543"/>
      <repository id="eclipse_2019_09" location="http://download.eclipse.org/releases/2019-09/"/>
    </location>
  </locations>
</target>
