<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension-point id="org.mypsycho.emf.modit.sirius.componentization" name="%component.extensionName" schema="schema/org.mypsycho.emf.modit.sirius.componentization.exsd"/>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser class="org.mypsycho.modit.emf.sirius.internal.DesignFactory" type="modit_sirius" />
  </extension>

  <extension point="org.eclipse.sirius.componentization">
    <component
         class="org.mypsycho.modit.emf.sirius.ModitSiriusPlugin"
         id="org.mypsycho.modit.emf.sirius"
         name="org.mypsycho.modit.emf.sirius" />
  </extension>

  <extension point="org.eclipse.sirius.common.expressionInterpreter" id="modit.sirius" >
    <expressionInterpreterProvider
        interpreterProviderClass="org.mypsycho.modit.emf.sirius.SiriusConstantInterpreter$Provider">
    </expressionInterpreterProvider>
    <expressionInterpreterProvider
        interpreterProviderClass="org.mypsycho.modit.emf.sirius.SiriusModelInterpreter$Provider">
    </expressionInterpreterProvider>
  </extension>
<!--
  <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.eclipse.emf.ecoretools.design.ui.action.CreateDynamicInstanceAction"
            id="org.eclipse.emf.ecoretools.design.action.createDynamicInstanceActionID">
      </javaActions>
      <javaActions
            actionClass="org.eclipse.emf.ecoretools.design.ui.action.GenerateAllAction"
            id="org.eclipse.emf.ecoretools.design.action.generateAllID">
      </javaActions>
      <javaActions
            actionClass="org.eclipse.emf.ecoretools.design.ui.action.OpenConfirmationDialogAction"
            id="org.eclipse.emf.ecoretools.design.action.openConfirmationDialogID">
      </javaActions>
      <javaActions
            actionClass="org.eclipse.emf.ecoretools.design.ui.action.OpenFileInEditorAction"
            id="org.eclipse.emf.ecoretools.design.action.openFileInEditorID">
      </javaActions>
      <javaActions
            actionClass="org.eclipse.emf.ecoretools.design.ui.action.OpenSelectModelElementAction"
            id="org.eclipse.emf.ecoretools.design.action.openSelectModelElementID">
      </javaActions>
   </extension>
   -->
</plugin>
